@media screen and (max-width: 768px){

    /* 768px 이하 */

    .contents_width{ width: 100%; margin: 0 auto; }
    .inner_size2 { width: 85.45%; margin: 0 7.275%; }
    .inner_size3 { width: 100%; margin: 0 auto;}
    .inner_size4 { width: 93%; margin: 0 auto; }

    #container { overflow: hidden; }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(310px);
        }

        to {
            opacity: 3;
            transform: none;
        }
    }

    .rank_list .no_swiper li { display: none; }

    .carousel {
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    .swiper {
        padding-top: 5rem;
        height: 100%; width: 100%;
        margin-left: 0 !important;
    }

    .swiper .swiper-wrapper li {
        margin: 0 6.25vw;
    }

    .swiper .swiper-wrapper .swiper-slide {

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }


    #main {
        margin-top: 8.2vw;
        flex-direction: column-reverse;
    }

    /* #main_title */

    #main #main_title {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-top: 9.5vw;
    }

    #main_title .main_date_time {
        display: flex;
        margin-top: 1.5vw;
    }

    #main #main_title .main_title_text {
        align-items: flex-start;
    }

    #main #main_title h1 {
        font-size: 9.2vw;
    }

    #main #main_title span {
        font-size: 2.5vw; line-height: 4.9vw;
        border-radius: 4.9vw;
        width: 4.9vw !important; height: 4.9vw;
        margin-top: 1.1vw;
    }

    #main_title .main_today {
        margin: 5vw 0 0 0;
        font-size: 6vw;
        letter-spacing: -1.5px;
    }

    #main_title .main_Time {
        font-size: 6vw;
        margin: 5vw 0 0 2vw;
        letter-spacing: -1.5px;
    }

    #main_title .fa-chevron-down {
        font-size: 3.2vw;
        margin: 6.8vw 0 0 1.2vw;
        color: #ececec;
        cursor: pointer;
    }

    #main_title ul {
        margin-top: 11vw; padding: 3vw 0;
        width: 19vw; height: 33vw;
        top: 1.7vw; right: 0;
        
        font-size: 3.2vw;
        border-radius: 1.5vw;
        box-shadow: 0 0 .5vw rgba(0, 0, 0, 0.4);
    }

    #main_title ul .select_timeObtion {
        padding: 1.1vw 0;
    }

    /* #main > #main_menu 메인메뉴*/

    #main #main_menu {
        justify-content: space-between;
    }

    #main #main_menu li{
        font-size: 4vw;
    }

    #main #main_menu li:not(:first-child) { margin-left: 2vw; }

    /* chart_contents */

    #chart_contents { margin-top: 10vw; }

    #chart_contents .rank_list .rank_mark img { width: 14.3vw !important; }

    #chart_contents .rank_list .rank_mark span { font-size: 4.75vw !important; }

    #chart_contents .rank_list .rank_text .chart_title {
        font-size: 3.72vw; 
    }

    #chart_contents .rank_list .rank_text .chart_artist {
        font-size: 2.81vw;
    }

    #chart_contents .rank_list .rank_text .rank_right_text .chart_album {
        font-size: 2.3vw;
    }
    #chart_contents .rank_list .rank_text .rank_right_text .artist_affilation {
        font-size: 3.09vw;
        margin-top: -.4vw;
    }

    /* .rank_list 랭킹 별 상세 조절 */

    #chart_contents .rank_list ul {
        width: 220%;
    }

    #chart_contents .rank_list .first_rank,
    #chart_contents .rank_list .second_third_rank
    {
        width: 63vw; height: 83vw;
        padding: 4.8vw;
    }

    #chart_contents .rank_list .album_pic { width: 50vw; }

    /* .rank_icon 상세 조절 */

    #chart_contents .rank_list #rank_icon {
        height: 8.5vw;
        font-size: 3.4vw;
    }

    #chart_contents .rank_list #rank_icon .like_button .heart_number {
        display: none;
    }

    /* #chart_contents .other_list */

    #chart_contents .other_list {
        backdrop-filter: blur(20px);
        border-radius: 6vw;
        padding-bottom: 2.7vw;
        background-color: inherit;
        box-shadow: inherit;
    }

    /* .other_list_select_option */

    #chart_contents .other_list .other_list_select_option ul,
    #chart_contents .other_list .other_list_chart_option {
        display: none;
    }

    #chart_contents .other_list .other_list_select_option {
        flex-direction: column;
    }    

    #chart_contents .other_list .other_list_select_option .other_list_more {
        display: flex;
        justify-content: flex-end;
    }

    #chart_contents .other_list .other_list_select_option .other_list_more p {
        width: 21vw; height: 7vw;
        border-radius: 23vw;
        font-size: 3vw;
        line-height: 5.25vw;
        border-width: 2px;
        text-align: center;
    }

    .other_list .other_list_chart ul .chart_details {
        margin: .7vw 0;
        height: 20vw;
        border-top-left-radius: 10vw;
        border-bottom-left-radius: 10vw;
        /* background-color: #ececec; */
    }

    .other_list .other_list_chart .chart_details input[id="chartDetail1"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail2"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail3"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail4"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail5"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail6"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail7"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail8"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail9"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail10"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail11"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail12"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail13"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail14"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail15"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail16"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail17"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail18"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail19"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail20"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail21"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail22"] + label,
    .other_list .other_list_chart .chart_details input[id="chartDetail23"] + label
    { display: none; }

    .other_list_chart ul .chart_details ul {
        grid-template-columns: 
            0 8.4vw 20vw 36vw 11vw 1fr;
        margin: 0 8vw; padding-top: 3.22vw;
    }

    .other_list .other_list_chart ul li i {
        font-size: 4.7vw;
    }

    .other_list_chart ul .chart_details ul .chart_detail_list2 {
        grid-template-columns: repeat(2, 1fr);
        font-size: 3vw;
    }

    .other_list_chart ul .chart_details ul .chart_detail_list3 img {
        width: 13.5vw;    
    }

    .other_list_chart ul .chart_details ul .chart_detail_list4 p {
        font-size: 3.5vw;
        width: 27vw;
        padding-bottom: 1.7vw;
    }

    .other_list_chart ul .chart_details ul .chart_detail_list4 span {
        font-size: 2.5vw;
        width: 15.5vw;
    }

    .other_list_chart ul .chart_details ul .chart_detail_list5 {
        display: none;
    }

    .other_list_chart ul .chart_details ul .chart_detail_list6,
    .other_list_chart ul .chart_details ul .chart_detail_list8,
    .other_list_chart ul .chart_details ul .chart_detail_list9,
    .other_list_chart ul .chart_details ul .chart_detail_list10
    {
        display: none;
    }

    .other_list_chart ul .chart_details ul .chart_detail_list11 {
        display: block;
    }


    .mobile_tab_menu {
        height: 63vw; width: 100%;
        /* background-color: #fff; */
        background-color: #333;
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        position: fixed;
        left: 0; bottom: 0;
        animation: fadeIn .5s ease-in-out;
        z-index: 1;
    }

    .mobile_tab_menu ul {
        width: 100%; height: 100%;
    }
    
    .mobile_tab_menu ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        padding: 0 10vw;
    }

    .mobile_tab_menu ul li:first-child {
        background-color: #3f3f3f;
        height: 14vw;
        margin-bottom: 2.65vw;
    }

    .mobile_tab_menu ul li:not(:first-child) {
        height: 9.5vw;
        border-radius: 0;
        border-radius: 1.4vw;
        margin: 0 10vw 2vw;
        justify-content: start;
        transition: .15s;
        cursor: pointer;
    }

    .mobile_tab_menu ul li:not(:first-child):hover {
        background: #444;
    }

    .mobile_tab_menu ul li:not(:first-child):active {
        background: rgb(58, 58, 58);
    }

    .mobile_tab_menu ul li .mobile_title_artistname {
        display: flex;
        align-items: center;
    }
    .mobile_tab_menu .mobile_title_icon {
        display: flex;
        align-items: center;
    }

    .mobile_tab_menu .mobile_title_artistname h2 {
        color: #d1d1d1; font-weight: 100;
        font-size: 3.2vw;
        /* width: 50.5vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    }

    .mobile_tab_menu .mobile_title_artistname p {
        color: #aaa; font-weight: 100;
        font-size: 2.7vw;
        margin-left: 2vw;
    }

    .mobile_tab_menu i {
        cursor: pointer;
    }

    .mobile_tab_menu .heart .fa-heart {
        color: #bababa;
        font-size: 4vw;
    }

    .mobile_tab_menu .heart .fa-solid {
        color: #ff0000;
    }

    .mobile_tab_menu .fa-xmark {
        color: #bababa;
        font-size: 4.5vw;
        margin-left: 6vw;
    }

    /* .mobile_tab_select_menu */

    .mobile_tab_menu .mobile_tab_select_menu i {
        font-size: 3.1vw; color: #fff;
        width: 10vw;
        margin-left: 12vw;
    }

    .mobile_tab_menu .mobile_tab_select_menu p {
        font-size: 2.9vw; color: #d1d1d1;
        margin-left: 6vw;
    }

    /* 현주 footer */

    .footer { 
        background-color: #fafafa;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer > .footerMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 0px;
        margin-top: 15.3vw;
    }
    .footer > .footerMenu > span {
        font-size: 2.8646vw;
        color: #333333;
        font-weight: 800;
        padding-bottom: 6.5104vw;
        width: 22.1354vw;
        position: relative;
        top: 7.0677vw;
        margin-left: 50px;
    }
    .footer > .footerMenu > span:not(:last-child) {
        margin-right: 35px;
    }
    .footer > .footerCont { 
        position: relative; 
        right: 45px; 
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .footer > .footerCont > .footerCenter > .footerTermsOfUseApp { 
        margin: 0;
        line-height: 5.2083vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 25.4167vw;
        margin-bottom: 5.2083vw;
    }
    .footer > .footerCont > .footerCenter > .footerTermsOfUseApp > div { 
        display: flex; 
        justify-content: center; 
        align-items: center; }
    .footer > .footerCont > .footerCenter > .footerTermsOfUseApp > div > span{
        color: #939393;
        font-size: 2.2135vw;
        font-weight: 600;
        margin-top: 0;
    }
    .footer > .footerCont > .footerCenter > .footerTermsOfUseApp > div > span:not(:last-child){
        margin-right: 1.4323vw;
    }
    .footer > .footerCont > .footerCenter > .footerTermsOfUseApp > div > span:not(:last-child)::after{
        margin-left: 1.8229vw;
        content: "|";
        color: #bfbfbf;
        font-weight: 500;
    }
    .footer > .footerCont > .footerCenter > .footerTermsOfUseApp > div > .important {
        font-weight: bolder;
        color: #6b6b6b;
    }
    .footer > .footerCont > .footerSns{
        position: relative;
        top: 6.5104vw;
        display: flex;
        justify-content: end;
    }
    .footer > .footerCont > .footerSns > div {
        display: inline-block;
    }
    .footer > .footerCont > .footerSns > div > i {
        font-size: 5.2083vw;
        color: #c1c1c1;
        padding-left: 3.9063vw;
        transition: 0.3s;
    }
    .footer > .footerCont > .footerSns > div :hover {
        color: #686868;
    }
    .footer > .footerMenu > span:nth-child(n+3):nth-child(-n+5){
        display: none;
    }
    .footer > .footerCont { 
        display: flex;
        flex-direction: column-reverse;
    }
    .footerTermsOfUse { display: none; }
    .footerTermsOfUseTablet { display: none; }
    .footerBusinessInfo { display: none; }
    .footerBusinessInfoTablet { display: none; }
    .footerTermsOfUseApp { display: inline-block; }


}